.grid-user-task-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 0 0;
}

.user-task-card {
  border: 1px #f0efef solid;
  border-radius: 0.6rem;
  cursor: pointer;
  padding: 0.6rem;
  transition: all 0.5s;
}

.user-task-card:hover {
  transform: translateY(-4px);
  border: 1px #e5e5e5 solid;
}

.user-tag {
  display: block;
  font-weight: 300;
  padding: 10px;
  color: #ff5858;
  background-color: #f8fafc;
}

h2 {
  color: #4c4c4c;
  font-size: 1.4rem;
}

.center-p {
  display: flex;
  width: 100%;
  height: 60vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.task-container {
  padding: 0.2rem;
  /* background-color: rgb(255, 249, 223); */
  border-top: 1px #eeeeee solid;
}

.task-container.completed {
  background-color: rgb(228, 255, 228);
}

.no-task {
  color: #bababa !important;
}

.task-date p {
  color: #939292;
  overflow: hidden; /* Hide the text that spills out */
  text-overflow: ellipsis;
  white-space: nowrap;
}

.date {
  color: #c4c4c4;
  text-align: end;
}
.title-date {
  display: flex;
  justify-content: space-between;
}
.task-status-badge {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  margin: 0;
  /* border-radius: 1px; */
}

.task-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* padding-right: 10px; */
  display: block;
  max-width: 70%;
}

.task-status-badge p {
  margin: 0;
}
.task-status-badge p.status {
  padding: 4px 10px;
}

.InProgress {
  background-color: rgb(252, 252, 210);
}
.Completed {
  background-color: rgb(205, 253, 179);
}

.Pending {
  background-color: rgb(178, 178, 178);
}
/* 
.Medium {
}

.Critical {
} */
