<!-- task frame -->
<div class="task-section">
  <!-- search bar - sort --------------- Task Button -->
  <app-user-task-header (onSearch)="onSearch($event)"></app-user-task-header>

  @if (!AdminUsers().length && !NormUsers().length) {
    <div class="center-p">
      <p>No User Found...!</p>
    </div>
  }
  <div>
    @if (AdminUsers().length) {
      <h3 class="user-tag">Admins</h3>
    }
    <div class="grid-user-task-container">
      @for (item of AdminUsers(); track $index) {
        <div class="user-task-card" (click)="onSelectedUser(item.id)">
          <h2 class="user-name">{{ item.firstName }} {{ item.lastName }}</h2>
          @if (item.task) {
            <div class="task-container">
              <div class="title-date">
                <p class="task-title">{{ item.task.title }}</p>
                <p class="date">{{ item.task.dueDate | relativeDate }}</p>
              </div>
              <div class="task-status-badge">
                <p class="status" [ngClass]="item.task.status">
                  {{ item.task.status }}
                </p>
                <p>
                  {{ item.task.priority }}
                </p>
              </div>
            </div>
          } @else {
            <p class="no-task">No Task Assigned</p>
          }
        </div>
      }
    </div>
    @if (NormUsers().length) {
      <h3 class="user-tag">Users</h3>
    }

    <div class="grid-user-task-container">
      @for (item of NormUsers(); track $index) {
        <div class="user-task-card" (click)="onSelectedUser(item.id)">
          <h2 class="user-name">{{ item.firstName }} {{ item.lastName }}</h2>

          @if (item.task?.title ?? '') {
            <div class="task-container">
              <div class="title-date">
                <p class="task-title">{{ item.task?.title ?? '' }}</p>
                <p class="date">{{ item.task?.dueDate ?? '' | relativeDate }}</p>
              </div>
              <div class="task-status-badge">
                <p class="status" [ngClass]="item.task?.status">
                  {{ item.task?.status ?? '' }}
                </p>
                <p>
                  {{ item.task?.priority ?? PriorityEnum.Low }}
                </p>
              </div>
            </div>
          } @else {
            <p class="no-task">No Task Assigned</p>
          }
        </div>
      }
    </div>
  </div>
</div>

<!-- 
  <table>
      <thead>
        <tr>
          <th>Users</th>
          <th>Tasks</th>
          <th>
            <div>
            
              Due Date
            </div>
          </th>
        
          <th>
            <div>
             
              Priority
            </div>
          </th>

        </tr>
      </thead>
      @if (tasks().length != 0) {
        <tbody>
          @for (task of tasks(); track task.taskId) {
            <tr
              [class]="PriorityEnum[task.priority]"
              app-user-task
              [task]="task"
              [ngClass]="{ critical: isPastDue(task.dueDate, task.isCompleted) }"
            ></tr>
          }
        </tbody>
      } @else {
        <p>No Task Found....!</p>
      }
    </table> -->

<!-- <div class="task-frame-table">
    <div class="pagination-container">
    
      <button class="pagination-btn" (click)="onPrev()" [disabled]="!pagination().isPrevious">
        Previous
      </button>

      <div class="page-number active">
        {{ pagination().currentPage }}
      </div>

      <div
        class="page-number"
        [class.hide]="pagination().currentPage === pagination().totalPages"
        (click)="onNext()"
      >
        {{ pagination().currentPage + 1 }}
      </div>

      <div
        class="page-number dots"
        [class.hide]="pagination().currentPage >= pagination().totalPages - 2"
      >
        ...
      </div>

      <div
        class="page-number total"
        [class.hide]="pagination().currentPage >= pagination().totalPages - 1"
        [class.active]="pagination().currentPage === pagination().totalPages"
      >
        {{ pagination().totalPages }}
      </div>

      <button class="pagination-btn" (click)="onNext()" [disabled]="!pagination().isNext">
        Next
      </button>
    </div>
  </div> -->
