td {
  border-bottom: white 20px solid;
  font-weight: 100;
  color: #727272;
  border-spacing: 0;
}

td .gridOn {
  border-bottom: white 20px solid;
}

td div {
  display: flex;
  justify-content: start;
  align-items: center;
}
td span {
  align-items: center;
  justify-content: center;
  padding-right: 7px;
}

.priority-container p {
  padding: 10px 20px;
  border-radius: 10%;
  text-overflow: ellipsis;
}

p.critical {
  background-color: #ffebee;
}

p.high {
  background-color: #fff3e0;
}

p.medium {
  background-color: #fffde7;
}

p.low {
  background-color: #e8f5e9;
}

.options-wrapper {
  position: relative;
  display: inline-block;
}

.task-option-popup {
  position: absolute;
  left: -30px;
  top: 0;
  margin-left: 0px;
  background-color: white;
  z-index: 1;
}

.status-container {
  width: 90%;
  justify-content: flex-end;
  align-items: center;
}

select {
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
  display: flex;
}

select option {
  border: none;
  outline: none;
}

.title-select-container {
  cursor: pointer;
  max-width: 500px;
}

.title-select-container:hover {
  background-color: ghostwhite;
}

.title-select-container:active {
  background-color: rgb(216, 216, 221);
}

td.title-select-container div.p-title {
  max-width: 100%;
  line-height: 1.2rem;
  letter-spacing: 1px;
}

.date-line {
  white-space: pre-line;
  display: block; /* Ensures the container respects the line break */
  line-height: 1.5;
}
